.docker export-ignore
.github export-ignore
tests export-ignore
.codecov.yml export-ignore
.editorconfig export-ignore
.php-cs-fixer.dist.php export-ignore
php-cs-fixer.dist.php export-ignore
php-cs-fixer.sh export-ignore
phpstan.neon export-ignore
phpstan.sh export-ignore
phpunit.xml.dist export-ignore
